body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  background-color: #5f6caf;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.container-fluid {
  padding: 7% 15%;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited,
.btn-light:focus {
  background-color: #edf7fa;
}

.btn-light {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-light:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.links {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Title Section */

#title {
  color: #edf7fa;
}

.name-heading {
  font-family: "Roboto Slab", serif;
  font-size: 5.25rem;
  text-align: left;
}

.title-description {
  text-align: left;
}

#title a.resume-btn {
  display: inline-block;
  margin-bottom: 1rem;
  text-shadow: none;
}

#title a {
  display: inline;
  margin: 0 10px;
}

.title-link {
  width: 20%;
}

.title-link:hover {
  filter: invert(89%) sepia(8%) saturate(1103%) hue-rotate(159deg)
    brightness(94%) contrast(92%);
}

#title .linkedin-logo {
  width: 18%;
}

/* Projects Section */

#projects {
  background-color: #ffb677;
}

.projects-heading {
  font-family: "Roboto Slab", serif;
  font-size: 4rem;
  margin-bottom: 40px;
  color: #ff8364;
}

.project-column {
  padding: 4% 2%;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5%;
  text-shadow: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card img {
  width: 90%;
  margin: 0 auto;
}

/* Footer Section */

footer {
  color: #edf7fa;
}

.footer-link {
  width: 16px;
}

#footer a {
  display: inline;
  margin: 0 5px;
}

.footer-link:hover {
  filter: invert(89%) sepia(8%) saturate(1103%) hue-rotate(159deg)
    brightness(94%) contrast(92%);
}

.modal {
  text-shadow: none;
}

.modal-header {
  padding-bottom: 0;
}

.modal-title {
  font-family: "Roboto Slab", serif;
}

.modal-footer {
  text-align: left;
  font-size: 1rem;
}

.ucollab-showcase {
  width: 90%;
}

.tankroyale-gif {
  width: 90%;
}

.element-crush-gif {
  width: 50%;
}

.modal-sudoku-img {
  width: 40%;
}


@media (max-width: 1028px) {

  .container-fluid {
    padding: 15% 15%;
  }
}